/*
* @Author: Mark Eliasen
* @Date:   2017-04-12 15:08:11
* @Last Modified by:   mark
* @Last Modified time: 2017-06-07 12:36:29
*/

.soundboard {
    min-height: 600px;
}

.section {
    margin-bottom: 20px;
}

button {
    margin-right: 3px;
}